body{
	background-color:white;
	color: blue;
}

li {
  padding: 5px;
  margin: 5px;
  background: lightblue;
}

element.style {
	height: 350px
	
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: lightblue;
}

.form-group {
  margin-bottom: 5px;
}
